
.menu_main .navbar-nav a{
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    font-weight: 500;
}
.menu_main .navbar-nav a:last-child{
      font-family: "Poppins", sans-serif;
    font-size: 18px;
    font-weight: 500;

}

#rrr{
    background-color: blueviolet;
    padding:150px 0 ;
}
